body {
  font-family: Arial;
  margin: 40px;
}

input, button {
  margin: 5px;
  padding: 8px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}
